.copyright {
    background-color: $secudary-color;
    font-family: $secundary-font;
    color: $primary-help-color;
    
    .container {
        .row {
            padding: $padding;
            margin-bottom: 0;

            a {
                color: $primary-color;
            }

        }
    }
}