.menu-area {
    .nav-wrapper, .sidenav {
        background-color: $tertiary-color;
        color: $primary-help-color;
    }
    
    .brand-logo {
        margin-left: 2rem;
    }

    .brand-logo > img {
        margin-top: 0.8rem;
        max-height: 2.5rem;
    }

    .header-web {
        margin-right: 2rem;
    }

    .menu-item a {
        color: $primary-help-color;
    }

    .menu-item:hover > a {
        color: $primary-color;
    }
}

.to-up {
    position: fixed;
    right: 0rem;
    bottom: 0rem;
    margin: 2rem 2rem;
    z-index: 200;

    .to-up-icon {
        padding: .7rem 1rem;
        background-color: $primary-color;
        border-radius: 4rem;
        color: $primary-help-color;
    }
}

@media (max-width: 600px)  {
    .menu-area {
        .brand-logo {
            margin-left: unset;
        }
    }
}