.presentation {
    background-color: $secudary-color;
    padding: 5rem 0rem;
    display: flex;
    justify-content: flex-end;

    .profile-img {
        width: 100%;
        max-width: 300px;
        height: auto;
        position: relative;
        z-index: 100;
    }

    .ajust-grid {
        position: relative;

        #props-grid {
            position: absolute;
            height: 300px;
            width: 300px;
    
            #group-vertical {
                position: relative;
                z-index: 1;
                
                .vertical-line {
                    border-right: 1px solid $primary-color;
                    position: absolute;
                    width: 0;
                    padding: 0;
                    margin: 0;
                }
            }
    
            #group-horizontal {
                position: relative;
                z-index: 1;
    
                .horizontal-line {
                    border-top: 1px solid $primary-color;
                    position: absolute;
                    top: 0;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }


    .description {
        position: relative;
        z-index: 101;

        .rect {
            border: 1px solid $primary-help-color;
            position: absolute;
    
            .fa-times {
                margin: 1rem;
                color: $primary-help-color;
            }
    
            .fa-ellipsis-h {
                margin: 1rem;
                color: $primary-help-color;
                position: absolute;
                right: 0;
            }
        }
    
        .r-first {
            height: 70%;
            width: 80%;
            right: 0rem;
        }
    
        .r-second {
            height: 50%;
            width: 60%;
            top: 9vh;
            right: 16vw;
        }

        h1 {
            font-family: $primary-font;
            font-size: 3rem;
            color: $primary-help-color;

            .title-box {
                position: relative;
                margin: 1rem;
                
                .first {
                    width: 15rem;
                }

                .second {
                    width: 9.2rem;
                }

                .name{
                    padding: 0rem 0.5rem;
                    position: absolute;
                    z-index: 10;
                }

                .box {
                    position: relative;
                    background-color: $primary-color;
                    height: 2.4rem;
                    top: 1.2rem;
                }
                
            }
        }

        h2 {
            font-family: $primary-font;
            font-size: 2rem;
            color: $primary-help-color;
            padding: 0rem 1rem;
            margin: 0 0;
        }

        .slogan {
            font-family: $secundary-font;
            color: $primary-help-color;
            font-size: 1.5rem;
            font-weight: 300;
            font-style: italic;
            padding: 0rem 1rem;
            margin: 0 0;
        }

        .social-icons {
            font-size: 1.5rem;
            padding: 1rem 1rem;
            
            .social-item {
                color: $primary-help-color;
                margin-right: 1rem;
                

                .icon {
                    -webkit-transition: 0.5s ease-in-out;
                    -moz-transition: 0.5s ease-in-out;
                    -o-transition: 0.5s ease-in-out;
                    transition: 0.5s ease-in-out;
                }

                .icon:hover {
                    -webkit-transform: rotate(10deg);
                    -moz-transform: rotate(10deg);
                    -o-transform: rotate(10deg);
                    -ms-transform: rotate(10deg);
                    transform: rotate(10deg);
                    transform: rotate(10deg);
                }
            }

            .social-item:hover {
                color: $primary-color;
            }
        }
    }

    @media (min-width: 600px) {
        .profile-img {
            
        }
    }
}