// Variables
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Russo+One&display=swap');

$primary-color: #F12166;
$secudary-color: #181433;
$tertiary-color: #1E1940;
$primary-help-color: #F1E4F1;
$secudary-help-color: #828494;

$primary-font: 'Russo One', sans-serif;
$secundary-font: 'Open Sans', sans-serif;

$margin: 1rem;
$padding: 1rem;

body {
    font-size: 1rem;
    font-family: $secundary-font;
    color: $primary-help-color;
}